@import 'sass/base/_normalize.scss';
@import 'sass/helpers/_mixins.scss';
@import 'sass/helpers/_variables.scss';

body {
    @include width-height(100%);
    font-size: $font-size-base;
    padding: 0;
    margin: 0;
}

.wrapper {
    @include width-height(100%);
}

.task1 {
    &__button {
        
    }
}